SERVER/BL/HelpCallXMLS/CorrentHelpCallSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="helpCalls">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="helpCall">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="keywords">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="keyword" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:unsignedByte" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>